<h1>Welcome to the Task Manager</h1>
  <div class="container coll-md-12">
    <ul>
      <li class="btn btn-default"><a class="link" href="/tasks">Task Index</a></li>
      <li class="btn btn-default"><a class="link" href="/tasks/new">New Task</a></li>
    </ul>
  </div>
